body {
    background-color: #d6e6f2;
    margin: 0;
}

.menu {
    background-color: #2d4059;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.first {
    margin-right: auto;
}

.items {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px;
}

.specterimg {
    display: flex;
}
.img1, 
.img3 {
    flex: 1;
}

.low {
    display: flex;
}

.words {
    align-self: center;
    text-transform: uppercase;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.titleh3 {
    display: flex;
    justify-content: center;
}

.nameh3 {
    text-transform: uppercase;
    color: #112d4e;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.nameh3:hover {
    color: #07689f;
}


.types {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

.type {
    list-style: none;
    padding: 30px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.type:hover {
    background-color:#384259;
    color: white;
}

.price {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

.price123 {
    list-style: none;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.price123:hover {
    background-color:#384259;
    color: white;
}

.labels {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
}

input {
    padding: 5px;
}

.div_btn {
    display: flex;
}

.btn {
    flex: 1;
    background-color: #3f72af;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.btn:hover {
    background-color: #384259;
}

/*Responsive*/


/* 992px - 1200px */
@media screen and (max-width: 1200px) {
    .types {
        flex-wrap: wrap;
        
    }
    .type {
        padding: 10px;
    }

    
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
    .low {
        flex-direction: column-reverse;
        align-items: center;
    }

.img1,
.img3 {
    width: 750px;
}

    
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
.img1,
.img2,
.img3 {
    width: 500px;
}

.type {
    padding: 10px;
}

.last {
    font-size: 20px;
}

}

/* 320px - 576px */
@media screen and (max-width: 576px) {
    .img1,
    .img2,
    .img3 {
        width: 300px;
    }

    .items {
        font-size: 10px;
        padding: 10px;
    }

    .words {
        font-size: 10px;
    }

    .nameh3 {
        font-size: 20px;
    }

    .types {
        /* justify-content: center; */
        align-items: center;
        padding: 0;
    }
    
    .type {
        font-size: 15px;
        
    }

  

    .price {
        flex-direction: column;
        align-items: center;
    }
    

    .price123 {
        font-size: 15px;
        padding: 10px;
    }

    .last {
        font-size: 15px;
    }

}


